@import "../main";

body {
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: $medium - 1) {
    display: block;
  }
}

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  @media screen and (min-width: $medium) {
    font-size: 18px;
  }
}

.splash {
  h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-top: 0.3em;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 500;
    line-height: 1.25;
    max-width: 22em;
    letter-spacing: -0.03em;
  }
}

.sidebar {
  background: rgb(163, 160, 203);
  background: linear-gradient(90deg, #e0eafc, #cfdef3);
  border-radius: 8px;
  flex: 0 0 300px;
  padding: 1rem 1.5rem 1rem;
  overflow: auto;
  margin-bottom: 0.275em;

  @media screen and (max-width: $medium - 1) {
    .sidebar-text:after {
      content: " just kidding it's a bottom bar what an awesome mobile site";
    }

    .extra-stuff {
      display: none;
    }
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
  }
  h3 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  margin-top: 0.275em;
  letter-spacing: 0.5px;
}

.fancy {
  color: $primary;
}

.handle {
  display: inline-block;
  margin-top: 0.275em;
  color: $grey;
  letter-spacing: 0.5px;
}

.writing {
  text-decoration: none;
  color: $primary;
}

/* overrides */

main {
  padding-top: 0;
  padding-bottom: 0;
}

.nav {
  @media screen and (min-width: $medium) {
    position: static;
    display: block;
    visibility: visible;
    padding-top: 3em;
    width: $navWidth;
  }
}

.social-icons {
  justify-content: flex-start;
  padding-top: 1rem;
  margin-left: -0.8rem; // offset to negate icon's padding to align with text above
}
