{{ define "styles" }} {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }} {{ end }} {{ define "main" }}

<div class="splash-container">
  <div class="splash">
    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>

    <p>
    {{ range (where .Pages "Section" "posts") }}
      Recent long-form <a class="main-link" href="{{ .Permalink }}">blog posts</a>:
      <div class="cards-list">
        {{ range .Pages }}
        <div class="card-column">
          <a href="{{ .Permalink }}" style="text-decoration:none;">
            <div class="card">
                <h3>{{ .Title }}</h3> 
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    {{ end }}
    </p>

    <p>
    {{ range (where .Pages  "Section" "notes") }}
    Most recently updated <a class="main-link" href="{{ .Permalink }}">notes</a>:
        <div class="cards-list">
          {{ range .Pages }}
          <div class="card-column">
            <a class="notes" href="{{ .Permalink }}" style="text-decoration:none;">
              {{ .Title }} 📝
            </a>
          </div>
          {{end}}
        </div>
    {{ end }}
    </p>

    <p>
    {{ range (where .Pages  "Section" "TIL") }}
    Things I've <a class="main-link" href="{{ .Permalink }}">learned recently</a>:
    <div class="cards-list">
      {{ range first 3 .Pages }}
        <a class="notes" href="{{ .Permalink }}"> {{ .Title }} 🧠</a>
      {{ end }}
    </div>
    {{ end }}
    </p>
    
    {{ partial "social-icons.html" .}}
  </div>
</div>

{{ end }}
